body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 60px 30px 60px;
    padding: 0;
    color: #1b1b1b;
    text-transform: uppercase;
    background-color: #F7F7F7;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

nav li {
    padding-left: 50px;
}

nav a {
    color: #ADADAD;
    text-decoration: none;
    text-align: start;
    font-size: 1.5rem;
}

a:hover{
    color: #1b1b1b;
}

.highlight{
    text-decoration: none;
    color: #1b1b1b;
}
a:hover{
    color: #F7F7F7;
    text-decoration: line-through #1b1b1b 1em;
}


header h1 {
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    margin: 0 0 40px 0; 
    color: #ADADAD;
}

.project-txt{
    color: #1b1b1b;
}

.container-project{
}

.works{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.works-h1{
    font-size: 1.5em;
    font-weight: 100;
    margin: 40px 0 20px 0;
    color: #ADADAD;
}
.works-text{
    width: auto;
    text-decoration: none;
    color: #1b1b1b;
    font-size: 3em;
    margin-bottom: 16px;
    font-weight: 100;
}

footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    bottom: -50px;
}

footer h2 {
    font-size: 3rem;
    font-weight: 800;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content:flex-end;
}

footer li {
   padding-left: 50px;
}

footer a {
    color: #ADADAD;
    text-decoration: none;
    font-size: 1.5rem;
}